.crypto-card{

border-radius:10px;
padding:15px;
text-align:center;
margin-bottom:20px;
background:#fff;
box-shadow:0 2px 10px rgba(0,0,0,0.1);

}

.crypto-card img{

width:40px;
margin-bottom:10px;

}

.green{
color:green;
}

.red{
color:red;
}
