
    <!-- start banner area -->
    <div class="slider-one rn-section-gapTop">
        <div class="container">
            <div class="row row-reverce-sm align-items-center">
                <div class="col-lg-5 col-md-6 col-sm-12 mt_sm--50">
                    <h4 >Discover Digital Marketplace, Buy and Sell Your Real Estate.</h4>
                    <h6>Get lower, volume-based pricing with Advanced Trade</h6>
                    <ul class="feature-list" style="list-style: none; padding: 0; margin-bottom: 40px;">
                        <li style="display: flex; align-items: flex-start; margin-bottom: 20px;">
                            <i class="feather-check-circle" style="margin-right: 15px; color: #000; font-size: 1.2rem;"></i>
                            <p style="margin: 0; color: #white;">Real-time order books with as low as 0.0% maker fees</p>
                        </li>
                        <li style="display: flex; align-items: flex-start; margin-bottom: 20px;">
                            <i class="feather-check-circle" style="margin-right: 15px; color: #000; font-size: 1.2rem;"></i>
                            <p style="margin: 0; color: #white;">Deep liquidity across hundreds of spot and derivatives markets</p>
                        </li>
                        <li style="display: flex; align-items: flex-start; margin-bottom: 20px;">
                            <i class="feather-check-circle" style="margin-right: 15px; color: #000; font-size: 1.2rem;"></i>
                            <p style="margin: 0; color: #white;">More order types: Market, Limit, Stop Limit, and Auction Mode orders</p>
                        </li>
                        <li style="display: flex; align-items: flex-start; margin-bottom: 20px;">
                            <i class="feather-check-circle" style="margin-right: 15px; color: #000; font-size: 1.2rem;"></i>
                            <p style="margin: 0; color: #white;">Charts powered by TradingView with EMA, MA, MACD, RSI, and Bollinger Bands.</p>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12 offset-lg-1">
                    <div class="slider-thumbnail">
                        <img src="https://images.ctfassets.net/o10es7wu5gm1/3FwiGvu5fYVsludi8jgOY7/14e7039558786f182123e658c6940151/Advanced.png?fm=avif&w=2014&h=1612&q=65" alt="Slider Images" style="width: 603px; height: 500px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End banner area -->