.copyright-left{
    display:flex;
    align-items:center;
    gap:10px;
}

.dot{
    font-size:18px;
    color:#aaa;
}

.footer-list-one{
    list-style:none;
    padding:0;
}

.footer-list-one li{
    margin-bottom:6px;
}

.copy-right-one{
 font-size:14px;
 color:#6c757d;
}
