<header class="rn-header header-default header--fixed header--sticky">

  <div class="container">
    <div class="header-inner">

      <!-- CENTER : MENU -->
      <nav class="mainmenu-nav">
        <ul class="mainmenu">

          <li>
            <a *ngIf="!showAdminBoard" routerLink="/">Dashboard</a>
          </li>

          <li>
            <a  routerLink="/explore">Explore</a>
          </li>

          <li *ngIf="isLoggedIn && showAdminBoard">
            <a routerLink="/transactions">Transactions</a>
          </li>

          <li *ngIf="isLoggedIn && showAdminBoard">
            <a  routerLink="/g-announce">Requests</a>
          </li>

        </ul>
      </nav>

      <!-- RIGHT : SEARCH + BUTTONS -->
      <div class="header-right">

        <!-- SEARCH -->
        <div class="search-box">
          <input type="text" placeholder="Search">
        </div>

        <!-- LOGIN -->
        <a *ngIf="!isLoggedIn" class="btn btn-primary" routerLink="/login">
          Sign in
        </a>

        <!-- SIGNUP -->
        <a *ngIf="!isLoggedIn" class="btn btn-secondary" routerLink="/register">
          Sign up
        </a>

        <!-- PROFILE -->
        <div *ngIf="isLoggedIn" class="profile">
          <img src="assets/images/icons/boy-avater.png" routerLink="/profile">
        </div>

      </div>

    </div>
  </div>

</header>
